/* CSS Reset */

*
{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

/* Generics */

body
{
    font-family: 'Fredoka', sans-serif;
}

h1
{
    font-size:48px;
    color:#E63774;
    margin-top:50px;
    margin-bottom:50px;
}

/* Utilities */

.container
{
    max-width:1350px;
    margin:0 auto;
}

.text-center
{
    text-align:center;
}

.clearfix::after
{
    content:'';
    clear:both;
    display:table;
}

/* Header */

.intro
{
    font-size:20px;
    margin-bottom:50px;
}

/* Cards */

.row
{
    width:97%;
    height:120px;
    margin:auto;
}

.card
{
    background-color:black;
    color:white;
    width:calc(100%/3 - 20px);
    height:120px;
    float:left;
    margin:10px;
}

.pfp
{
    float:left;
    height:100%;
    padding-bottom:2px;
}

.card-description
{
    width:auto;
    height:auto;
    float:left;
    margin-top:15px;
    margin-left:10px;
    line-height:29px;
}

.card-name
{
    font-size:22px;
}

.card-profession
{
    font-size:17px;
}

.card-email
{
    font-style:normal;
    color:#48A2D1;
    font-size:17px;
}